<!DOCTYPE html>
<html lang="en">
<%-include('partials/head')%>
<body>
  <%-include('partials/navbar')%>
  <h1>Admin page only!</h1>
  <p>Testing this works before colt tells me how to do it!</p>
</body>
</html>