<!DOCTYPE html>
<html lang="en">
<%-include('partials/head')%>
<body>
  <%-include('partials/navbar')%>
  <h1>HOMEPAGE! <%='hello world!'.toUpperCase()%> </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Aliquam hendrerit, libero ut dapibus condimentum, odio metus 
    finibus enim, a dignissim metus risus sed lorem. Vivamus nisi 
    lorem. </p>

  <p>Aliquam hendrerit, libero ut dapibus condimentum, odio metus 
    finibus enim, a dignissim metus risus sed lorem. Vivamus nisi 
    lorem.</p>
</body>
</html>